In [418]:
# Importing Packages

import pandas as pd
import numpy as np

In [419]:
# Creating pandas dataframe with user related data

users = pd.read_csv('takehome_users.csv', encoding='latin-1', index_col=0)
users.head(10)

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
object_id,,,,,,,,,
1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0
7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN
8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN
9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN
10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0

In [420]:
# Creating pandas dataframe with user engagement data 

engagement = pd.read_csv('takehome_user_engagement.csv')
engagement.head(10)

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1
5  2013-12-31 03:45:04        2        1
6  2014-01-08 03:45:04        2        1
7  2014-02-03 03:45:04        2        1
8  2014-02-08 03:45:04        2        1
9  2014-02-09 03:45:04        2        1

In [421]:
# Checking for datatypes & missing information
# last_session_creation_time has missing values which makes sense as not all users will have a last session
# invited_by_user_id has missing values whcih males sense as well as not all users are invited by other users

users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12000 entries, 1 to 12000
Data columns (total 9 columns):
creation_time                 12000 non-null object
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    8823 non-null float64
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            6417 non-null float64
dtypes: float64(2), int64(3), object(4)
memory usage: 937.5+ KB

In [422]:
# Converting creation_time from string to datetime type

users['creation_time'] = pd.to_datetime(users['creation_time'])

In [423]:
engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null object
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [424]:
# Converting time_stamp from string to datetime type

engagement['time_stamp'] = pd.to_datetime(engagement['time_stamp'])

In [425]:
# Setting time_stamp as index for engagement dataframe

engagement = engagement.set_index('time_stamp')
engagement.head(10)

                     user_id  visited
time_stamp
2014-04-22 03:53:30        1        1
2013-11-15 03:45:04        2        1
2013-11-29 03:45:04        2        1
2013-12-09 03:45:04        2        1
2013-12-25 03:45:04        2        1
2013-12-31 03:45:04        2        1
2014-01-08 03:45:04        2        1
2014-02-03 03:45:04        2        1
2014-02-08 03:45:04        2        1
2014-02-09 03:45:04        2        1

In [426]:
# Grouping data by user_id, resampling into weekly dates, & calculating sum in visited column to capture 'adopted' users

engagement = engagement.groupby('user_id').resample('1W').sum()
engagement

                    user_id  visited
user_id time_stamp
1       2014-04-27        1        1
2       2013-11-17        2        1
        2013-11-24        0        0
        2013-12-01        2        1
        2013-12-08        0        0
...                     ...      ...
11996   2013-09-08    11996        1
11997   2013-01-20    11997        1
11998   2014-04-27    11998        1
11999   2012-06-03    11999        1
12000   2014-01-26    12000        1

[82282 rows x 2 columns]

In [427]:
adopted = engagement[engagement['visited'] >= 3]
del adopted['user_id']
adopted

                    visited
user_id time_stamp
2       2014-02-09        3
10      2013-03-03        3
        2013-04-14        3
        2013-04-28        3
        2013-05-05        4
...                     ...
11988   2014-04-06        3
        2014-05-04        4
        2014-05-18        3
        2014-05-25        5
        2014-06-01        3

[33859 rows x 1 columns]

In [428]:
# Creating user_id list of adopted users

adopted_index = list(adopted.index)
adopted_users_list = []
for i in range(len(adopted_index)):
    adopted_users_list.append(adopted_index[i][0])
len(adopted_users_list)

33859

In [429]:
# Keeping set of only unique user ids

adopted_users = set(adopted_users_list)
len(adopted_users)

1445

In [430]:
# Adding adopted column to users dataframe

users['adopted'] = False

for user in adopted_users:
    users.loc[user, 'adopted'] = True

users.head(10)

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted
object_id,,,,,,,,,,
1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,False
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,True
3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,False
4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,False
5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,False
6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0,False
7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN,False
8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN,False
9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN,False
10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0,True

In [431]:
# Extracting domain names from email addresses

users['email_split'] = users['email'].str.split('@')
del users['email']

for user in range(len(users)):
    users.loc[user+1, 'email_domain'] = users.loc[user+1, 'email_split'][1]
del users['email_split']


users['email_domain'].value_counts()[:10]

gmail.com         3562
yahoo.com         2447
jourrapide.com    1259
cuvox.de          1202
gustr.com         1179
hotmail.com       1165
luque.com            2
xvnbr.com            2
dqwln.com            2
qgjbc.com            2
Name: email_domain, dtype: int64

In [432]:
# Combining uncommon email domains into 'other' value

users['email'] = 'other'

for user in range(len(users)):
    if users.loc[user+1, 'email_domain'] == 'gmail.com':
        users.loc[user+1, 'email'] = 'gmail.com'
    if users.loc[user+1, 'email_domain'] == 'yahoo.com':
        users.loc[user+1, 'email'] = 'yahoo.com'
    if users.loc[user+1, 'email_domain'] == 'jourrapide.com':
        users.loc[user+1, 'email'] = 'jourrapide.com'
    if users.loc[user+1, 'email_domain'] == 'cuvox.de':
        users.loc[user+1, 'email'] = 'cuvox.de'
    if users.loc[user+1, 'email_domain'] == 'gustr.com':
        users.loc[user+1, 'email'] = 'gustr.com'
    if users.loc[user+1, 'email_domain'] == 'hotmail.com':
        users.loc[user+1, 'email'] = 'hotmail.com'

del users['email_domain']

users['email'].value_counts()

gmail.com         3562
yahoo.com         2447
jourrapide.com    1259
cuvox.de          1202
other             1186
gustr.com         1179
hotmail.com       1165
Name: email, dtype: int64

In [433]:
# Creating invited_by_user column with boolean values based on whether or not a user was invited by another user

users['invited_by_user'] = users['invited_by_user_id'].isnull() == False
del users['invited_by_user_id']
users.head(10)

,creation_time,name,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,adopted,email,invited_by_user
object_id,,,,,,,,,,
1,2014-04-22 03:53:30,Clausen August,GUEST_INVITE,1.398139e+09,1,0,11,False,yahoo.com,True
2,2013-11-15 03:45:04,Poole Matthew,ORG_INVITE,1.396238e+09,0,0,1,True,gustr.com,True
3,2013-03-19 23:14:52,Bottrill Mitchell,ORG_INVITE,1.363735e+09,0,0,94,False,gustr.com,True
4,2013-05-21 08:09:28,Clausen Nicklas,GUEST_INVITE,1.369210e+09,0,0,1,False,yahoo.com,True
5,2013-01-17 10:14:20,Raw Grace,GUEST_INVITE,1.358850e+09,0,0,193,False,yahoo.com,True
6,2013-12-17 03:37:06,Cunha Eduardo,GUEST_INVITE,1.387424e+09,0,0,197,False,yahoo.com,True
7,2012-12-16 13:24:32,Sewell Tyler,SIGNUP,1.356010e+09,0,1,37,False,jourrapide.com,False
8,2013-07-31 05:34:02,Hamilton Danielle,PERSONAL_PROJECTS,NaN,1,1,74,False,yahoo.com,False
9,2013-11-05 04:04:24,Amsel Paul,PERSONAL_PROJECTS,NaN,0,0,302,False,hotmail.com,False
10,2013-01-16 22:08:03,Santos Carla,ORG_INVITE,1.401833e+09,1,1,318,True,gustr.com,True

In [434]:
# Converting users dataframe into suitable form for machine learning models 

users['org_id'] = users['org_id'].astype('str')
dummies = pd.get_dummies(users[['creation_source', 'org_id', 'email']])
users = pd.concat([users, dummies], axis=1)

In [435]:
# Removing creation_time & last_session_creation_time as I believe these time variables are not needed/will make models unneccesarily complicated

users = users.drop(['name','creation_time', 'last_session_creation_time', 'creation_source', 'org_id', 'email'], axis=1)

In [436]:
users.head(5)

,opted_in_to_mailing_list,enabled_for_marketing_drip,adopted,invited_by_user,creation_source_GUEST_INVITE,creation_source_ORG_INVITE,creation_source_PERSONAL_PROJECTS,creation_source_SIGNUP,creation_source_SIGNUP_GOOGLE_AUTH,org_id_0,...,org_id_97,org_id_98,org_id_99,email_cuvox.de,email_gmail.com,email_gustr.com,email_hotmail.com,email_jourrapide.com,email_other,email_yahoo.com
object_id,,,,,,,,,,,,,,,,,,,,,
1,1,0,False,True,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,True,True,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,False,True,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,False,True,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,0,0,False,True,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [437]:
# Importing packages for machine learning models

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV

In [438]:
# Separating predictor variables from 'adopted' variable 

X = users.drop(['adopted'], axis=1)
Y = users.adopted

In [439]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=6)

In [440]:
# Running standard random forest classifier model 

rfc = RandomForestClassifier(n_estimators=10, class_weight = 'balanced_subsample')
rfc.fit(X_train, Y_train)
rfc.score(X_train, Y_train)

0.930952380952381

In [441]:
rfc.score(X_test, Y_test)

0.8330555555555555

In [442]:
# See that only 27 out of 420 adopted users identified correctly by standard classifier

Y_pred = rfc.predict(X_test)
print(classification_report(Y_test, Y_pred))

              precision    recall  f1-score   support

       False       0.88      0.93      0.91      3180
        True       0.11      0.06      0.08       420

    accuracy                           0.83      3600
   macro avg       0.50      0.50      0.50      3600
weighted avg       0.79      0.83      0.81      3600

In [443]:
print(confusion_matrix(Y_test, Y_pred))

[[2972  208]
 [ 393   27]]

In [444]:
# Feature importances within standard classifer 

feature_importances = pd.DataFrame({'importances': rfc.feature_importances_}, index=X_train.columns)
feature_importances.sort_values('importances', ascending=False).head(10)

                                   importances
opted_in_to_mailing_list              0.035617
enabled_for_marketing_drip            0.026127
email_gmail.com                       0.018369
creation_source_PERSONAL_PROJECTS     0.015642
email_other                           0.013119
email_cuvox.de                        0.012276
email_jourrapide.com                  0.011922
email_gustr.com                       0.011737
email_hotmail.com                     0.010606
email_yahoo.com                       0.010568

In [445]:
# Tuning random forest classifier model

params = {'n_estimators': [10], 'max_depth': [2, 3, 4, 5], 'class_weight': ['balanced_subsample']}

rfc_tuned = RandomForestClassifier()
rfc_grid = GridSearchCV(rfc_tuned, params, cv=3, scoring='accuracy')
rfc_grid.fit(X_train, Y_train)
rfc_grid.score(X_train, Y_train)

0.6214285714285714

In [446]:
rfc_grid.score(X_test, Y_test)

0.6038888888888889

In [447]:
rfc_grid.best_estimator_

RandomForestClassifier(bootstrap=True, class_weight='balanced_subsample',
                       criterion='gini', max_depth=4, max_features='auto',
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=10, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False)

In [448]:
# Random forest classifer model with best estimators

rfc_final = RandomForestClassifier(n_estimators=10, max_features='auto', min_samples_leaf=1, min_samples_split=2, class_weight='balanced_subsample', max_depth=4)
rfc_final.fit(X_train, Y_train)
rfc_final.score(X_train, Y_train)

0.57

In [449]:
rfc_final.score(X_test,Y_test)

0.5611111111111111

In [450]:
# 224 out of 420 adopted users identified correcly 
# More tuning needs to be done to increase correct identification of adopted users 

Y_pred = rfc_final.predict(X_test)
print(classification_report(Y_test, Y_pred))

              precision    recall  f1-score   support

       False       0.90      0.56      0.69      3180
        True       0.14      0.53      0.22       420

    accuracy                           0.56      3600
   macro avg       0.52      0.55      0.46      3600
weighted avg       0.81      0.56      0.64      3600

In [451]:
print(confusion_matrix(Y_test, Y_pred))

[[1796 1384]
 [ 196  224]]

In [452]:
# Feature importances in tuned model 

feature_importances_final = pd.DataFrame({'importances': rfc_final.feature_importances_}, index=X_train.columns)
feature_importances_final.sort_values('importances', ascending=False).head(20)

                                   importances
creation_source_PERSONAL_PROJECTS     0.072284
email_yahoo.com                       0.057353
org_id_2                              0.049883
email_gmail.com                       0.040093
email_hotmail.com                     0.039994
creation_source_SIGNUP                0.038387
creation_source_GUEST_INVITE          0.036812
org_id_291                            0.036130
email_gustr.com                       0.033217
org_id_240                            0.032345
org_id_270                            0.031412
org_id_44                             0.021930
creation_source_ORG_INVITE            0.021130
org_id_62                             0.020683
org_id_299                            0.020373
org_id_364                            0.020274
org_id_251                            0.018756
org_id_72                             0.018690
org_id_116                            0.018333
org_id_37                             0.018172

In [453]:
# Feature imporance differences will show which attributes are responsible for increasing detection of adopted feature_importance_diff = pd.DataFrame(index=X_train.columns)

feature_importance_diff['standard_importance'] = rfc.feature_importances_
feature_importance_diff['final_importance'] = rfc_final.feature_importances_
feature_importance_diff['difference'] = feature_importance_diff['final_importance'] - feature_importance_diff['standard_importance']
feature_importance_diff.sort_values('difference', ascending=False).head(20)

,standard_importance,final_importance,difference
creation_source_PERSONAL_PROJECTS,0.015642,0.072284,0.056642
email_yahoo.com,0.010568,0.057353,0.046784
org_id_2,0.006059,0.049883,0.043823
org_id_291,0.002545,0.036130,0.033585
creation_source_SIGNUP,0.008039,0.038387,0.030348
email_hotmail.com,0.010606,0.039994,0.029388
org_id_240,0.002962,0.032345,0.029382
org_id_270,0.002832,0.031412,0.028580
creation_source_GUEST_INVITE,0.008911,0.036812,0.027901
email_gmail.com,0.018369,0.040093,0.021724
email_gustr.com,0.011737,0.033217,0.021480
org_id_299,0.000483,0.020373,0.019890
org_id_364,0.001687,0.020274,0.018586
org_id_44,0.004691,0.021930,0.017239
org_id_37,0.001310,0.018172,0.016863
org_id_251,0.002357,0.018756,0.016399
org_id_62,0.004551,0.020683,0.016131
org_id_26,0.002225,0.018164,0.015939
org_id_116,0.002746,0.018333,0.015587
org_id_306,0.003089,0.017505,0.014416