In [224]:
# Importing Packages

import pandas as pd
import numpy as np

In [226]:
# Creating pandas dataframe with user related data

users = pd.read_csv('takehome_users.csv', encoding='latin-1', index_col=0)
users.head(10)

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
object_id,,,,,,,,,
1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0
7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN
8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN
9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN
10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0

In [227]:
# Creating pandas dataframe with user engagement data 

engagement = pd.read_csv('takehome_user_engagement.csv')
engagement.head(10)

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1
5  2013-12-31 03:45:04        2        1
6  2014-01-08 03:45:04        2        1
7  2014-02-03 03:45:04        2        1
8  2014-02-08 03:45:04        2        1
9  2014-02-09 03:45:04        2        1

In [228]:
# Checking for datatypes & missing information
# last_session_creation_time has missing values which makes sense as not all users will have a last session
# invited_by_user_id has missing values whcih males sense as well as not all users are invited by other users

users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12000 entries, 1 to 12000
Data columns (total 9 columns):
creation_time                 12000 non-null object
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    8823 non-null float64
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            6417 non-null float64
dtypes: float64(2), int64(3), object(4)
memory usage: 937.5+ KB

In [229]:
# Converting creation_time from string to datetime type

users['creation_time'] = pd.to_datetime(users['creation_time'])

In [230]:
engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null object
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [231]:
# Converting time_stamp from string to datetime type

engagement['time_stamp'] = pd.to_datetime(engagement['time_stamp'])

In [232]:
# Setting time_stamp as index for engagement dataframe

engagement = engagement.set_index('time_stamp')
engagement.head(10)

                     user_id  visited
time_stamp
2014-04-22 03:53:30        1        1
2013-11-15 03:45:04        2        1
2013-11-29 03:45:04        2        1
2013-12-09 03:45:04        2        1
2013-12-25 03:45:04        2        1
2013-12-31 03:45:04        2        1
2014-01-08 03:45:04        2        1
2014-02-03 03:45:04        2        1
2014-02-08 03:45:04        2        1
2014-02-09 03:45:04        2        1

In [233]:
# Grouping data by user_id, resampling into weekly dates, & calculating sum in visited column to capture 'adopted' users

engagement = engagement.groupby('user_id').resample('1W').sum()
engagement

                    user_id  visited
user_id time_stamp
1       2014-04-27        1        1
2       2013-11-17        2        1
        2013-11-24        0        0
        2013-12-01        2        1
        2013-12-08        0        0
...                     ...      ...
11996   2013-09-08    11996        1
11997   2013-01-20    11997        1
11998   2014-04-27    11998        1
11999   2012-06-03    11999        1
12000   2014-01-26    12000        1

[82282 rows x 2 columns]

In [234]:
adopted = engagement[engagement['visited'] >= 3]
del adopted['user_id']
adopted

                    visited
user_id time_stamp
2       2014-02-09        3
10      2013-03-03        3
        2013-04-14        3
        2013-04-28        3
        2013-05-05        4
...                     ...
11988   2014-04-06        3
        2014-05-04        4
        2014-05-18        3
        2014-05-25        5
        2014-06-01        3

[33859 rows x 1 columns]

In [235]:
# Creating user_id list of adopted users

adopted_index = list(adopted.index)
adopted_users_list = []
for i in range(len(adopted_index)):
    adopted_users_list.append(adopted_index[i][0])
len(adopted_users_list)

33859

In [236]:
# Keeping set of only unique user ids

adopted_users = set(adopted_users_list)
len(adopted_users)

1445

In [237]:
# Adding adopted column to users dataframe

users['adopted'] = False

for user in adopted_users:
    users.loc[user, 'adopted'] = True

users.head(10)

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted
object_id,,,,,,,,,,
1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,False
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,True
3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,False
4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,False
5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,False
6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0,False
7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN,False
8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN,False
9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN,False
10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0,True

In [238]:
# Extracting domain names from email addresses

users['email_split'] = users['email'].str.split('@')
del users['email']

for user in range(len(users)):
    users.loc[user+1, 'email_domain'] = users.loc[user+1, 'email_split'][1]
del users['email_split']


users['email_domain'].value_counts()[:10]

gmail.com         3562
yahoo.com         2447
jourrapide.com    1259
cuvox.de          1202
gustr.com         1179
hotmail.com       1165
luque.com            2
xvnbr.com            2
dqwln.com            2
qgjbc.com            2
Name: email_domain, dtype: int64

In [239]:
# Combining uncommon email domains into 'other' value

users['email'] = 'other'

for user in range(len(users)):
    if users.loc[user+1, 'email_domain'] == 'gmail.com':
        users.loc[user+1, 'email'] = 'gmail.com'
    if users.loc[user+1, 'email_domain'] == 'yahoo.com':
        users.loc[user+1, 'email'] = 'yahoo.com'
    if users.loc[user+1, 'email_domain'] == 'jourrapide.com':
        users.loc[user+1, 'email'] = 'jourrapide.com'
    if users.loc[user+1, 'email_domain'] == 'cuvox.de':
        users.loc[user+1, 'email'] = 'cuvox.de'
    if users.loc[user+1, 'email_domain'] == 'gustr.com':
        users.loc[user+1, 'email'] = 'gustr.com'
    if users.loc[user+1, 'email_domain'] == 'hotmail.com':
        users.loc[user+1, 'email'] = 'hotmail.com'

del users['email_domain']

users['email'].value_counts()

gmail.com         3562
yahoo.com         2447
jourrapide.com    1259
cuvox.de          1202
other             1186
gustr.com         1179
hotmail.com       1165
Name: email, dtype: int64

In [240]:
# Creating invited_by_user column with boolean values based on whether or not a user was invited by another user

users['invited_by_user'] = users['invited_by_user_id'].isnull() == False
del users['invited_by_user_id']
users.head(10)

,creation_time,name,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,adopted,email,invited_by_user
object_id,,,,,,,,,,
1,2014-04-22 03:53:30,Clausen August,GUEST_INVITE,1.398139e+09,1,0,11,False,yahoo.com,True
2,2013-11-15 03:45:04,Poole Matthew,ORG_INVITE,1.396238e+09,0,0,1,True,gustr.com,True
3,2013-03-19 23:14:52,Bottrill Mitchell,ORG_INVITE,1.363735e+09,0,0,94,False,gustr.com,True
4,2013-05-21 08:09:28,Clausen Nicklas,GUEST_INVITE,1.369210e+09,0,0,1,False,yahoo.com,True
5,2013-01-17 10:14:20,Raw Grace,GUEST_INVITE,1.358850e+09,0,0,193,False,yahoo.com,True
6,2013-12-17 03:37:06,Cunha Eduardo,GUEST_INVITE,1.387424e+09,0,0,197,False,yahoo.com,True
7,2012-12-16 13:24:32,Sewell Tyler,SIGNUP,1.356010e+09,0,1,37,False,jourrapide.com,False
8,2013-07-31 05:34:02,Hamilton Danielle,PERSONAL_PROJECTS,NaN,1,1,74,False,yahoo.com,False
9,2013-11-05 04:04:24,Amsel Paul,PERSONAL_PROJECTS,NaN,0,0,302,False,hotmail.com,False
10,2013-01-16 22:08:03,Santos Carla,ORG_INVITE,1.401833e+09,1,1,318,True,gustr.com,True

In [241]:
# Converting users dataframe into suitable form for machine learning models 

users['org_id'] = users['org_id'].astype('str')
dummies = pd.get_dummies(users[['creation_source', 'org_id', 'email']])
users = pd.concat([users, dummies], axis=1)

In [242]:
# Removing creation_time & last_session_creation_time as I believe these time variables are not needed/will make models unneccesarily complicated

users = users.drop(['name','creation_time', 'last_session_creation_time', 'creation_source', 'org_id', 'email'], axis=1)

In [243]:
users.head(5)

,opted_in_to_mailing_list,enabled_for_marketing_drip,adopted,invited_by_user,creation_source_GUEST_INVITE,creation_source_ORG_INVITE,creation_source_PERSONAL_PROJECTS,creation_source_SIGNUP,creation_source_SIGNUP_GOOGLE_AUTH,org_id_0,...,org_id_97,org_id_98,org_id_99,email_cuvox.de,email_gmail.com,email_gustr.com,email_hotmail.com,email_jourrapide.com,email_other,email_yahoo.com
object_id,,,,,,,,,,,,,,,,,,,,,
1,1,0,False,True,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,True,True,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,False,True,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,False,True,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,0,0,False,True,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [401]:
# Importing packages for machine learning models

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV

In [402]:
# Separating predictor variables from 'adopted' variable 

X = users.drop(['adopted'], axis=1)
Y = users.adopted

In [403]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=6)

In [404]:
# Running standard random forest classifier model 

rfc = RandomForestClassifier(n_estimators=10, class_weight = 'balanced_subsample')
rfc.fit(X_train, Y_train)
rfc.score(X_train, Y_train)

0.93

In [405]:
rfc.score(X_test, Y_test)

0.8369444444444445

In [406]:
# See that only 25 out of 420 adopted users identified correctly by standard classifier

Y_pred = rfc.predict(X_test)
print(classification_report(Y_test, Y_pred))

              precision    recall  f1-score   support

       False       0.88      0.94      0.91      3180
        True       0.12      0.06      0.08       420

    accuracy                           0.84      3600
   macro avg       0.50      0.50      0.49      3600
weighted avg       0.79      0.84      0.81      3600

In [407]:
print(confusion_matrix(Y_test, Y_pred))

[[2988  192]
 [ 395   25]]

In [408]:
# Feature importances within standard classifer 

feature_importances = pd.DataFrame({'importances': rfc.feature_importances_}, index=X_train.columns)
feature_importances.sort_values('importances', ascending=False).head(10)

                                   importances
opted_in_to_mailing_list              0.039729
enabled_for_marketing_drip            0.024051
email_gmail.com                       0.020083
creation_source_PERSONAL_PROJECTS     0.016643
email_jourrapide.com                  0.016115
email_yahoo.com                       0.015520
email_other                           0.013282
email_hotmail.com                     0.012846
email_cuvox.de                        0.012769
email_gustr.com                       0.012538

In [409]:
# Tuning random forest classifier model

params = {'n_estimators': [10], 'max_depth': [2, 3, 4, 5], 'class_weight': ['balanced_subsample']}

rfc_tuned = RandomForestClassifier()
rfc_grid = GridSearchCV(rfc_tuned, params, cv=3, scoring='accuracy')
rfc_grid.fit(X_train, Y_train)
rfc_grid.score(X_train, Y_train)

0.5323809523809524

In [410]:
rfc_grid.score(X_test, Y_test)

0.5347222222222222

In [411]:
rfc_grid.best_estimator_

RandomForestClassifier(bootstrap=True, class_weight='balanced_subsample',
                       criterion='gini', max_depth=4, max_features='auto',
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=10, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False)

In [412]:
# Random forest classifer model with best estimators

rfc_final = RandomForestClassifier(n_estimators=10, max_features='auto', min_samples_leaf=1, min_samples_split=2, class_weight='balanced_subsample', max_depth=4)
rfc_final.fit(X_train, Y_train)
rfc_final.score(X_train, Y_train)

0.46773809523809523

In [413]:
rfc_final.score(X_test,Y_test)

0.4572222222222222

In [414]:
# 297 out of 420 adopted users identified correcly 
# More tuning needs to be done to increase correct identification of adopted users 

Y_pred = rfc_final.predict(X_test)
print(classification_report(Y_test, Y_pred))

              precision    recall  f1-score   support

       False       0.92      0.42      0.58      3180
        True       0.14      0.71      0.23       420

    accuracy                           0.46      3600
   macro avg       0.53      0.57      0.41      3600
weighted avg       0.83      0.46      0.54      3600

In [415]:
print(confusion_matrix(Y_test, Y_pred))

[[1349 1831]
 [ 123  297]]

In [416]:
# Feature importances in tuned model 

feature_importances_final = pd.DataFrame({'importances': rfc_final.feature_importances_}, index=X_train.columns)
feature_importances_final.sort_values('importances', ascending=False).head(20)

                                    importances
creation_source_PERSONAL_PROJECTS      0.196761
email_yahoo.com                        0.106811
org_id_0                               0.069847
org_id_161                             0.055381
org_id_23                              0.044459
org_id_2                               0.040699
creation_source_SIGNUP_GOOGLE_AUTH     0.030884
org_id_3                               0.027205
org_id_1                               0.023928
opted_in_to_mailing_list               0.023061
org_id_415                             0.021822
org_id_289                             0.020722
org_id_82                              0.020523
org_id_14                              0.018577
org_id_135                             0.018275
org_id_270                             0.017724
org_id_68                              0.017699
org_id_242                             0.017572
org_id_72                              0.016989
email_cuvox.de                         0.015568

# Feature importance differences will show which attributes are responible for increading detection of adopted users

feature_importance_diff = pd.DataFrame(index=X_train.columns)
feature_importance_diff['standard_importance'] = rfc.feature_importances_
feature_importance_diff['final_importance'] = rfc_final.feature_importances_
feature_importance_diff['difference'] = feature_importance_diff['final_importance'] - feature_importance_diff['standard_importance']
feature_importance_diff.sort_values('difference', ascending=False).head(20)